*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
.container{
    max-width: 1300px;
    margin: auto;
    background: #fff;
}
body{
    background: #AAAAAA;;
}
img{
    width: 100%;
}
/* navigation style start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 120px;
    display: flex;
    background-color: crimson;
}
nav .logo a{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
nav .menu{
    display: flex;
    justify-content: space-between;
    width: 400px;
    list-style-type: none;
    line-height: 24px;
}
nav .menu li a{
    color: #3A3A3A;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
}
nav .menu > a{
    color: #3A3A3A;
    font-weight: 600;
    font-size: 24px;
    transition: 0.3s ease;
}
nav .menu li a:hover, 
nav .menu > a:hover{
    color: #8a8989;
}
/* navigation style end */

/* home section start */
.home-content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.home-content .home-title{
    width: 550px;
}
.home-content .home-title h1{
    font-size: 52px;
    font-weight: 700;
}
.home-content .home-title p{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding: 16px 0px 30px 0px;
    width: 550px;
}
.home-content .home-title a{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
}
.home-content .home-title a .btn{
    color: #fff;
    margin-left: 5px;
    transition: margin-left .3s ease-in-out;
}
.home-content .home-title a:hover .btn{
    margin-left: 15px;
}
/* home section start */

/* populer img section start */
.collection-titel{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 20px 0px;
}
.populer-flex{
    display: flex;
    flex-wrap: wrap;
}
.collection-photo{
    width: 329px;
    height: 476px;
    background-color: gray;
    border-radius: 5px;
    margin: 15px auto;
}
.collection-photo .photo-item{
    padding: 20px;
}
.img-info{
    margin-top: 16px;
}
.img-info .title h2{
    font-weight: 500;
    font-size: 28px;

}
.img-info .title .price{
    font-size: 24px;
    line-height: 150%;
}
.img-info .title .icon{
    padding: 15px 0px;   
}
.icon .fa{
    color: #FB8200;
}
.img-info .line{
    line-height: 20px;

}
.rating{
    margin-left: 15px;
}
.button{
    text-align: right;
    padding: 25px 0px;
}
.button a{
    font-size: 16px;
    font-weight: 600;
    color: #E02C6D;
    margin-right: 60px;
    border-radius: 41px;
}
/* populer-area end */
/* footer section start */
.footer>.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.5em;
    height: 300px;
    width: 100%;
    background-color: #0A0826;
}
.footer .footer-content h2{
    font-size: 24px;
    padding: 20px;
}
.footer .footer-content > span .fa,
.footer .footer-content{
    color: #fff;
    margin-top: 20px;
}
.footer .footer-content > span .fa{
    margin: 20px 10px;
    font-size: 22px;
}
/* footer section end */

/* media-queri selector */
@media screen and (max-width: 950px) {
    .home-content {
        padding: 0px 80px;
    }
    .home-content .home-title{
        width: 450px;
    }
    .home-content .home-title h1 {
        font-size: 40px;
    }
    .home-content .home-title p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 15px 0px 22px 0px;
        width: 465px;
    }
    .home-content .home-title a {
        padding: 8px 17px;
        border-radius: 35px;
    }
  }
  @media screen and (max-width: 768px) {
    .home-content {
       display: block;
    }
  }